html{
    height: 95%;
}

body{
    font-family: 'Courier New', Courier, monospace;
    color: #90ee90;
    background: linear-gradient(#000000, #101015, #303050);
}

.content{
    width: 80%;
    margin: auto;
    padding-top: 80px;
}

#header{
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    font-style: italic;
    font-weight: bold;
    padding-left: 2%;
    background-color: #1a1a2e;
    border-bottom: solid;
    display: flex;
    height: 75px;
}

#header img{
    height: 60%; 
    margin-top: 20px; 
    margin-right: 15px;
}

#header a:link, #header a:visited{
    color: inherit;
}

.floatRight{
    position: absolute;
    right: 70px;
}

.table table{
    background: #1a1a2e;
    width: 100%;
}

.table th, .table td{
    border: solid lightgray 1px;
    width: 33%;
}

.table td{
    text-align: center;
}

.table .time{
    text-align: center;
}

.gameTitle a:link, .gameTitle a:visited{
    color: #50ae40;
}

.duration input{
    width: 40px;
    padding: 0px;
    margin: 0px -4px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  margin: 0px 2px 0px 0px;
  margin-bottom: 5px;
  text-align: center;
  appearance: textfield;
  -moz-appearance: textfield;
}

label {
    color: #90ee90;
}

input {
    border: solid 1px #90ee90;
}

input:invalid{
    border: solid 1px red;
    background-color: salmon;
}

label, input {
    font-size: 16px;
    line-height: 1.5;
}

input, select, textarea {
    margin-bottom: 10px;
}

#footer{
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: #1a1a2e;
    border-top: solid purple 2px;
    align-items: center;
    text-align: center;
    padding: 5px 0px;
}

#footer a:link, #footer a:visited{
    color: inherit;
}

#space{
    z-index: -1;
}

#space, .stars {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.stars {
    background-image: 
        radial-gradient(2px 2px at 20px 30px, #eee, rgba(0,0,0,0)),
        radial-gradient(2px 2px at 40px 70px, #fff, rgba(0,0,0,0)),
        radial-gradient(2px 2px at 50px 160px, #ddd, rgba(0,0,0,0)),
        radial-gradient(2px 2px at 90px 40px, #fff, rgba(0,0,0,0)),
        radial-gradient(2px 2px at 130px 80px, #fff, rgba(0,0,0,0)),
        radial-gradient(2px 2px at 240px 70px, #fff, rgba(0,0,0,0)),
        radial-gradient(2px 2px at 200px 20px, #fff, rgba(0,0,0,0)),
        radial-gradient(2px 2px at 130px 200px, #fff, rgba(0,0,0,0)),
        radial-gradient(2px 2px at 120px 230px, #fff, rgba(0,0,0,0)),
        radial-gradient(2px 2px at 160px 120px, #ddd, rgba(0,0,0,0));
    background-repeat: repeat;
    background-size: 250px 250px;
}