<body>
    <div id="space">
        <div class="stars"></div>
    </div>

    <div id="header">
        <img src="../clock_favicon.png">
        <h1><a href="/">Games Can Be Quick</a></h1>
        <h2 class="floatRight"><a href="/submit">Submit A Time</a></h2>
    </div>